:root {
    /* Button settings */
    --button-background: #000;
    --button-border: none;
    --button-color: #fff;
    --button-hover-background: #000;
    --button-hover-border: none;
    --button-hover-color: #fff;

    --secondary-button-background: #fff;
    --secondary-button-border: 1px solid var(--grey);
    --secondary-button-color: #000;
    --secondary-button-hover-background: transparent;
    --secondary-button-hover-border: 1px solid #000;
    --secondary-button-hover-color: #000;

    --flat-button-color: #000;
    --flat-button-hover-color: #000;


    /* Icons */
    --icon-comment: url(/static/icons/comment_standard.svg);
    --icon-comment-dark: url(/static/icons/comment_standard_dark.svg);
    --icon-creator-tip: url(/static/icons/creator_tip.svg);
    --icon-creator-tip-dark: url(/static/icons/creator_tip_dark.svg);
    --icon-followers: url(/static/icons/F2F_followers_standard.svg);
    --icon-like: url(/static/icons/like_standard.svg);
    --icon-like-dark: url(/static/icons/like_standard_dark.svg);
    --icon-liked: url(/static/icons/liked_standard.svg);
    --icon-likes: url(/static/icons/likes_standard.svg);
    --icon-posts: url(/static/icons/UI_elements/F2F_image_black.svg);
    --icon-unliked: url(/static/icons/unliked_standard.svg);
    --icon-warning: url(/static/icons/warning_standard.svg);
}
